<div class="container-fluid">
    <div class="row">
    <div class="col bg-dark text-white">
    <a class="navbar-brand">ACTIVEDGE TECHNOLOGIES</a>
    </div>
    </div>
    <div class="row mt-2">
    <div class="col-3">
    <button class="btn btn-outline-info btn-block"
    routerLink="/admin/main/staffs"
    routerLinkActive="active">
    Staffs
    </button>
     <button class="btn btn-outline-info  btn-block" type="button"
     routerLink="/admin/main/reports" routerLinkActive="active">
    Daily Report
    </button>
    <button class="btn btn-outline-info  btn-block" type="button"
     routerLink="/admin/main/absentees" routerLinkActive="active">
    Daily Absentees
    </button>
    <button class="btn btn-outline-danger btn-block" (click)="logout()">
     Logout
</button>
</div>
<div class="col-9">
<router-outlet></router-outlet>
</div>
</div>
</div>
