
    <div class="col bg-info text-white">
        <a class="navbar-brand">STAFF REPORTS</a>
    </div>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr class="thead-dark">
                <th colspan="4">DAILY CLOCK-IN REPORTS</th>
                </tr>
            </thead>
            <thead class="thead">
                <tr>
                <th>STAFF NAME</th>
                <th>DEPARTMENTS</th>
                <th>TIME CHECKED IN</th>
                <th>DATE</th>
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let staff of staffs" class="m-1 p-1 bg-light">
                    <td>{{staff.firstname}}</td>
                    <td>{{staff.department_name}}</td>
                    <td>{{staff.time_in}}</td>
                    <td>{{staff.entry_date}}</td>
                </tr>
            </tbody>
        </table>
    <form #form="ngForm" (ngSubmit)="pickDate()">
    <div class="form-inline float-left mr-1">
            <div class="form-group">
                    <label>Select Date</label>
                    <input  type="date"  class="form-control" name="dateSelected" [(ngModel)]="dateSelected" required/>
                </div> 
</div>
<button [type]="submit">Select</button>
</form>
</div>