<div class="bg-primary p-2 text-white" [class.bg-warning]="editing"
     [class.text-dark]="editing">
     <h5>{{editing ? "Edit" : "Create"}} Staff</h5> 
     </div>
    <form  #form="ngForm" (ngSubmit)="save(form)">
        <div class="form-group" >
            <label>First Name</label> 
            <input class="form-control" name="First name" [(ngModel)]="staff.firstname" />
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input class="form-control" name="Last Name" [(ngModel)]="staff.lastname" required="required"/>
        </div>
        <div class="form-group">
            <label>Middle Name</label>
            <input class="form-control" name="Last Name" [(ngModel)]="staff.middlename" required/>
        </div>
        <div class="form-group">
            <label>Date of Birth</label>
            <input type="date" class="form-control" name="Date of Birth" [(ngModel)]="staff.dob" max="01-01-2001" required/>
        </div>
        <div class="form-group">
          <label>Gender</label>
         <select class="form-control" [(ngModel)]="staff.gender" name="Gender">
          <option>Male</option>
            <option>Female</option>
            </select>
         </div>
         <div class="form-group">
                <label>Marital Status</label>
               <select class="form-control" [(ngModel)]="staff.marital" name="Marital Status">
                <option>Married</option>
                  <option>Single</option>
                  </select>
               </div>
         <div class="form-group">
            <label>Department</label>
            <select class="form-control" [(ngModel)]="staff.department" name="Department">
            <option>Technology</option>
            <option>Professional Services</option>
            <option>Infrastructure</option>
            <option>Administration</option>
            <option>Marketing</option>
            <option>Security</option>
            <option>Account</option>
            <option>Project Management</option>
        </select>
        </div>
        <div class="form-group">
            <label>Role</label>
            <input class="form-control" name="role" [(ngModel)]="staff.role" required/>
        </div>
        <div class="form-group">
                <label>Address</label>
                <input class="form-control" name="address" [(ngModel)]="staff.address" required/>
            </div>
        <div class="form-group">
                <label>Phone Number</label>
                <input class="form-control" name="phone number" type="number"  max="11" [(ngModel)]="staff.phone" required/>
            </div>
        <div class="form-group">
            <label>Joined Firm Date</label>
            <input type= "date" class="form-control" name="joined Firm Date" [(ngModel)]="staff.joinedDate" min="01-01-2012" required/>
        </div>
        <div class="form-group">
                <label>Employment Type</label>
               <select class="form-control" [(ngModel)]="staff.employmentType" name="Employment Type">
                <option>Contract</option>
                  <option>Full-Time</option>
                  </select>
       </div>
        <button  type="submit" class="btn btn-primary" [class.btn-warning]="editing">
            {{editing ? "Save" : "Create"}}
        </button>
        <button type="reset" class="btn btn-secondary" routerLink="/admin/main/staffs">
            Cancel
        </button>
    </form>
    