<div class="container-fluid">
        <div class="col bg-info text-white">
            <a class="navbar-brand">ACTIVEDGE CLOCK IN/OUT SYSTEM</a>
        </div>    
           <table class="table table-bordered">
               <thead class="thead-dark">
                   <tr>
                       <th scope="col">STAFF NAME</th>
                       <th scope="col">DEPARTMENT</th>
                        <th scope="col">CLOCK IN</th>
                       <th scope="col">CLOCK OUT</th>  
                       <th scope="col">ENTRY DATE</th>  
                   </tr>
               </thead>
               <tbody>
                   <tr *ngFor="let staff of staffs" class="m-1 p-1 bg-light">
                        <td>
                            {{staff.firstname}}  {{staff.lastname}}
                        </td>
                        <td>
                                {{staff.department_name}}
                        </td>
                        <td>
                           {{staff.time_in}}
                        </td>
                        <td>
                            {{staff.time_out}}
                        </td>
                        <td>
                            {{staff.entry_date}}
                        </td>
                    </tr>
               </tbody>
           </table>
           <div>   
                <div class="form-inline float-left mr-1">
                    <select class="form-control" value="SelectedDepartment"
                        (change)="changeDepartment($event.target.value)">
                        <option *ngFor="let dep of departments">{{dep}}</option>
                        </select>
                        <button class="btn btn-block btn-primary m-t-3" [type]="submit" routerLink="/admin"> 
                            Admin
                          </button>  
                          <button class="btn btn-block btn-info m-t-3" [type]="submit" routerLink="/login"> 
                            CLOCK IN
                          </button> 
                        </div>  
                          
                </div> 
                
        
</div>